{% extends 'layout.html' %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
    <h1>Página de inicio</h1>

    {% with message = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="message alert-success">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% include 'includes/edad.html' %}

    {% include 'includes/personas.html' %}  

{% endblock %}
        
      