{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        
        {% endblock %}
        | Flavio Scheck
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>

    <!--cabecera de la página-->
    <header>
        <div id="logotipo">
            <!--logo django-->
            <img src="{% static 'images/logo.png' %}" />
            <h1>Sitio web con Django</h1>
        </div>
        
    </header>

    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'articulos' %}">Artículos</a>
            </li>
             <li>
                <a href="{% url 'create' %}">Crear artículo</a>
            </li>
            <li>
                <a href="{% url 'create_full' %}">Crear artículo 2</a>
            </li>
            <li>
                <a href="{% url 'hola_mundo' %}">Hola Mundo</a>
            </li>
            <li>
                <a href="{% url 'pagina' %}">Página de pruebas</a>
            </li>
            <li>
                <a href="{% url 'contacto' 'Flavio' 'Scheck' %}">Contacto</a>
            </li>
        </ul>
    </nav>

    <div class= "barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">
        <div class="box">
            {% block content %}
                <!--Codigo que viene de templates-->
                <strong>Contenido del bloque original!!</strong>
            {% endblock %}
        </div>
    </div>
  
    <footer>
        Master en Python &copy; Flavio Scheck WEB - {% now "d/m/y" %}
    </footer>

</body>

</html>